ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a:active, a:focus {
  outline: none;
}

a:link, a:visited {
  text-decoration: none;
  outline: none;
}

a img {
  border: 0;
}

img {
  vertical-align: middle;
}

:focus {
  outline: 0;
}

@font-face {
  font-family: 'social';
  src: url('https://static.cmcdn.net/kits/140/fonts/social/social.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'frontend';
  src: url('https://static.cmcdn.net/kits/142/fonts/frontend/frontend.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Source Sans Pro', 'sans-serif';
  line-height: 1.4em;
  height: 100%;
}

body.serif {
  font-family: 'Georgia', 'serif';
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover {
  outline: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: ;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-size: 18px;
  line-height: 24px;
}

h3 {
  font-size: 15px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}

h5 {
  font-size: 13px;
  line-height: 18px;
  font-style: italic;
}

h6 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

.serif strong {
  font-weight: normal;
}

.serif b {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

.serif button, .serif input, .serif textarea {
  font-family: 'Georgia', 'serif';
}

.serif h1 {
  font-size: 22px;
}

.serif h5 {
  font-size: 12px;
}

.serif h6 {
  font-size: 11px;
}

.serif h1, .serif h2, .serif h3, .serif h4, .serif h5, .serif h6 {
  font-weight: normal;
}

html {
  height: 100%;
}

main {
  display: block;
  position: relative;
  max-width: 1650px;
  min-width: 700px;
  padding: 40px 40px 100px 290px;
  box-sizing: border-box;
  z-index: 1;
}

.narrow main {
  max-width: 900px;
}

main ul, main ol {
  list-style: decimal;
  list-style-position: outside;
  margin-bottom: 1em;
  padding-left: 20px;
}

main .caption ol, main .caption ul {
  list-style-position: inside;
  padding-left: 0;
}

.scrollable {
  position: relative;
  height: 100%;
}

.scrollable >.content {
  height: 100%;
  overflow: hidden;
  padding: 40px 10px 40px 40px;
  box-sizing: border-box;
}

.scrollable >.rail >.handle {
  position: absolute;
  top: 2px;
  right: 3px;
  border-radius: 6px;
  background: $black_30;
  height: 80px;
  width: 6px;
  z-index: 4000;
}

.scrollable >.rail {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 8px;
  padding: 0 2px 0 0;
  z-index: 4000;
}

.scrollable.native >.content {
  overflow: auto;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  display: block;
  width: 270px;
  top: 0;
  left: 0;
  right: 270px;
  bottom: 0;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
}

.sidebar .scrollable {
  padding: 0;
}

.sidebar header h1.logo span {
  max-width: 160px;
  display: block;
  background-size: contain;
}

.sidebar header h1 {
  font-weight: 600;
}

.sidebar header {
  display: block;
  padding: 0;
  margin: 0 0 30px;
}

nav {
  text-align: left;
}

nav >hr {
  display: block;
  height: 1px;
  width: 50px;
  border: none;
  margin: 0 130px 20px 0;
}

nav >ul >li >a {
  padding: 0;
  line-height: 17px;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
}

nav >ul >li.current a {
  font-weight: 600;
}

nav >ul >li {
  margin: 0 0 5px;
}

nav >ul.siteLinks a {
  font-size: 18px;
  font-weight: 300;
  opacity: 1;
}

nav >ul.siteLinks {
  padding: 0;
}

nav >ul {
  margin: 0 0 25px;
}

h1.logo {
  font-style: normal;
  font-size: 18px;
  opacity: .4;
  font-weight: 300;
  display: inline-block;
  margin-top: 5px;
  line-height: 1.3em;
}

header h2 {
  font-style: normal;
  font-size: 16px;
  opacity: .4;
  font-weight: 300;
  display: inline-block;
  margin-top: 5px;
  line-height: 1.3em;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 220px;
  padding: 0 0 40px 40px;
  font-size: 13px;
  line-height: 1.4em;
}

footer p {
  font-size: 13px;
  line-height: 1.4em;
}

.about {
  padding: 0 40px;
  max-width: 960px;
  box-sizing: border-box;
}

.about hr {
  display: block;
  height: 1px;
  width: 100%;
  border: none;
  margin: 0;
}

.about h2 {
  line-height: 22px;
  padding: 0 0 15px;
}

.about h5 {
  line-height: 24px;
  float: left;
  margin: 0 0 0 -150px;
  width: 100px;
  position: absolute;
  text-align: right;
}

.about p {
  line-height: 24px;
  font-size: 15px;
  padding: 0 0 15px;
}

.about .block:first-child.info .resumeLink {
  top: 20px;
}

.about .block:first-child {
  padding-top: 20px;
}

.about .block:last-child {
  border-bottom: none;
}

.about .block.biography p {
  line-height: 26px;
  padding: 0 0 13px;
}

.about .block.clients p i {
  line-height: 19px;
  padding: 0 0 5px;
  display: block;
  font-style: normal;
}

.about .block.clients p {
  column-count: 2;
}

.about .block.info p {
  padding: 0 0 8px;
}

.about .block.info .resumeLink {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0 17px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
}

.about .block.info .row:nth-child(1), .about .block.info .row:nth-child(2) {
  padding-right: 250px;
}

.about .block.info {
  position: relative;
  padding-right: 0;
}

.about .block .experienceBlock h2 {
  padding: 0 0 5px;
}

.about .block .experienceBlock .meta p {
  font-weight: 300;
  padding: 0 0 2px;
}

.about .block .experienceBlock .meta {
  margin: 0;
}

.about .block .experienceBlock {
  padding: 0 0 20px;
}

.about .block {
  padding: 40px 50px 25px 0;
  min-height: 32px;
}

.about .row {
  position: relative;
  padding-left: 150px;
}

.about table td:first-child {
  padding: 0 1em 0 0;
  width: 60px;
}

.about table td {
  padding: 0 0 .2em;
}

.about table i {
  display: block;
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about table {
  border: 0;
  margin: 0;
  padding: 0 0 .5em;
  border-spacing: 0;
}

.serif .about .block.info .resumeLink {
  font-weight: normal;
}

.links .linksWrap {
  position: relative;
  top: -7px;
}

.links a:before {
  font-family: 'social';
  line-height: 40px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  position: relative;
  top: -1px;
}

.links a.behance:before {
  content: "\e60c";
}

.links a.carbonmade:before {
  content: "\e60d";
}

.links a.dribbble:before {
  content: "\e60e";
}

.links a.etsy:before {
  content: "\e60f";
}

.links a.facebook:before {
  content: "\e610";
}

.links a.flickr:before {
  content: "\e611";
}

.links a.gitHub:before {
  content: "\e612";
}

.links a.google:before {
  content: "\e613";
}

.links a.instagram:before {
  content: "\e614";
}

.links a.custom:before {
  content: "\e615";
}

.links a.linkedIn:before {
  content: "\e616";
}

.links a.pinterest:before {
  content: "\e617";
}

.links a.portfolio:before {
  content: "\e618";
}

.links a.tumblr:before {
  content: "\e619";
}

.links a.twitter:before {
  content: "\e61a";
}

.links a.vimeo:before {
  content: "\e61b";
}

.links a.vine:before {
  content: "\e61c";
}

.links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 5px 5px 0;
  font-size: 40px;
  color: #8f8f8f;
  transition: color 0.1s ease-in;
}

.contact {
  position: relative;
  max-width: 960px;
}

.contact .userPic img {
  width: 100px;
  height: 100px;
}

.contact .userPic {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

.contact .availability .inner {
  display: table-cell;
  height: 64px;
  vertical-align: middle;
}

.contact .availability h3 {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 1px;
}

.contact .availability p {
  line-height: 20px;
  font-size: 14px;
  opacity: .8;
}

.contact .availability.fullHeight h3 {
  line-height: 60px;
}

.contact .availability.now {
  box-shadow: inset 8px 0 0 0 #7ac943;
}

.contact .availability.soon {
  box-shadow: inset 8px 0 0 0 #ffd229;
}

.contact .availability.unavailable {
  box-shadow: inset 8px 0 0 0 #c14343;
}

.contact .availability {
  min-height: 100px;
  width: 100%;
  padding: 18px 120px 18px 30px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.contact .details .col {
  width: 50%;
  float: left;
}

.contact .details >h1 {
  margin: 0 0 30px;
}

.contact .details h5 {
  margin: 0 0 5px;
}

.contact .details {
  width: 100%;
  margin: 0 0 50px;
  position: inherit;
}

.wider.projects .project {
  width: 100%;
  max-width: 960px;
}

.projects {
  margin: -8px -8px 0 -8px;
  padding-left: 0;
}

.projects.square .project:after {
  padding-top: 100%;
  display: block;
  content: '';
}

.projects.wide .project:after {
  padding-top: 50%;
  display: block;
  content: '';
}

.projects.wider .project:after {
  padding-top: 25%;
  display: block;
  content: '';
}

.projects >.project:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.projects >.project .newBug:before {
  position: absolute;
  top: 0;
  right: 0;
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #1dafec transparent transparent;
  z-index: -2;
}

.projects >.project .newBug {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
  overflow: hidden;
  font-family: 'frontend';
  z-index: 3;
  color: $white;
  text-align: right;
  line-height: 24px;
  padding: 2px 6px 0 0;
}

.projects >.project >a:hover .metadata {
  opacity: 1;
}

.projects >.project >a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects >.project img {
  width: 100%;
}

.projects >.project .metadata .bg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: 3;
}

.projects >.project .metadata h1 {
  font-size: 24px;
  line-height: 24px;
  padding: 3px 0;
}

.projects >.project .metadata p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
  font-style: italic;
}

.projects >.project .metadata .inner {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  z-index: 4;
  padding: 0 10px;
}

.projects >.project .metadata {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: opacity .4s ease;
  z-index: 2;
}

.projects >.project {
  display: block;
  position: relative;
  text-align: center;
  width: calc(50% - 16px);
  float: left;
  margin: 8px;
  box-sizing: border-box;
  z-index: 1;
}

.serif .projects .project .metadata h1 {
  font-size: 22px;
}

.noThumb {
  background: rgba(51, 51, 51, 0.1);
}

@media only screen and (max-width: 890px) {
}

body.dark {
  color: #555;
  background-color: #1c1c1c;
}

body.dark footer {
  background-color: #1c1c1c;
}

body.dark .sidebar h6 {
  color: #555;
}

body.dark .sidebar header a * {
  color: #f0f0f0;
}

body.dark nav hr {
  background-color: #2d2d2d;
}

body.dark nav.siteLinks a:hover {
  color: #d4d4d4;
}

body.dark nav.siteLinks a {
  color: #b8b8b8;
}

body.dark nav a:hover {
  color: #d4d4d4;
}

body.dark nav a {
  color: #b8b8b8;
}

body.dark .projects .project .metadata, body.dark .projects .project .metadata p {
  color: $white;
}

body.dark .details.top {
  border-bottom: 1px solid #2d2d2d;
}

body.dark .details.bottom {
  border-top: 1px solid #2d2d2d;
}

body.dark .details h1 {
  color: #d4d4d4;
}

body.dark .details h5 {
  color: #b8b8b1;
}

body.dark .details p, body.dark .details ul, body.dark .details ol, body.dark .details .text {
  color: #b8b8b8;
}

body.dark .details tr:nth-child(2n +1) {
  background-color: $white_3;
}

body.dark .about hr {
  background-color: #2d2d2d;
}

body.dark .about h2 {
  color: #b8b8b8;
}

body.dark .about h5 {
  color: #555;
}

body.dark .about p {
  color: #b8b8b8;
}

body.dark .about .links a {
  color: #8f8f8f;
}

body.dark .about .block.info .resumeLink {
  background-color: #555;
  color: #f0f0f0;
}

body.dark .about .block .meta p {
  color: #8f8f8f;
}

body.dark .about .block {
  border-bottom: solid 1px #2d2d2d;
  color: #b8b8b8;
}

body.dark .contact h1 {
  color: #d4d4d4;
}

body.dark .contact .availability h3 {
  color: #f0f0f0;
}

body.dark .contact .availability p {
  color: #b8b8b8;
}

body.dark .contact .availability {
  background-color: $white_3;
}

body.dark .contact .details h5 {
  color: #555;
}

body.dark .contact .details p {
  color: #b8b8b8;
}

body.dark .form input, body.dark .form textarea {
  border: solid 1px #2d2d2d;
  background-color: transparent;
  color: #b8b8b8;
}

body.dark .form button {
  color: $white;
  background-color: #555;
}

body.dark footer p {
  color: #555;
}

body.dark article a, body.dark carbon-paginator a {
  color: #b8b8b8 !important;
  border-bottom: 1px solid rgba(184, 184, 184, 0.3);
}

body.dark article, body.dark carbon-paginator {
  color: #b8b8b8;
}

body.dark #zoomer.open {
  background: rgba(28, 28, 28, 0.9);
}

body.warm {
  color: #555;
  background-color: #f0efe4;
}

body.warm footer {
  background-color: #f0efe4;
}

body.warm .sidebar h6 {
  color: #b8b8b1;
}

body.warm .sidebar header a * {
  color: #2d2d2d;
}

body.warm nav hr {
  background-color: rgba(212, 211, 201, 0.5);
}

body.warm nav.siteLinks a:hover {
  color: #555;
}

body.warm nav.siteLinks a {
  color: #8f8f8f;
}

body.warm nav a:hover {
  color: #2d2d2d;
}

body.warm nav a {
  color: #555;
}

body.warm .projects .project .metadata, body.warm .projects .project .metadata p {
  color: $white;
}

body.warm .pieces.captionInside .audio carbon-caption p, body.warm carbon-caption p, body.warm carbon-caption ul, body.warm carbon-caption ol {
  color: #8f8f8f;
}

body.warm .details.top {
  border-bottom: 1px solid rgba(212, 211, 201, 0.5);
}

body.warm .details.bottom {
  border-top: 1px solid rgba(212, 211, 201, 0.5);
}

body.warm .details h1 {
  color: #555;
}

body.warm .details h5 {
  color: #b8b8b1;
}

body.warm .details p, body.warm .details ul, body.warm .details ol {
  color: #555;
}

body.warm .details tr:nth-child(2n +1) {
  background-color: #f5f4e8;
}

body.warm .about hr {
  background-color: rgba(212, 211, 201, 0.5);
}

body.warm .about h2 {
  color: #555;
}

body.warm .about h5 {
  color: #b8b8b1;
}

body.warm .about .meta p {
  color: #8f8f8f;
}

body.warm .about p {
  color: #555;
}

body.warm .about .links a {
  color: #8f8f8f;
}

body.warm .about .block.info .resumeLink {
  background-color: #8f8f8f;
  color: $white;
}

body.warm .about .block {
  border-bottom: solid 1px #e5e4d9;
  color: #b8b8b1;
}

body.warm .contact h1 {
  color: #555;
}

body.warm .contact .availability h3 {
  color: #2d2d2d;
}

body.warm .contact .availability p {
  color: #555;
}

body.warm .contact .availability {
  background-color: #f5f4e8;
}

body.warm .contact .details h5 {
  color: #b8b8b1;
}

body.warm .contact .details p, body.warm .contact .details ul, body.warm .contact .details ol {
  color: #2d2d2d;
}

body.warm .form label {
  color: rgba(85, 85, 85, 0.3);
}

body.warm .form input, body.warm .form textarea {
  border: solid 1px #d4d3c9;
  background-color: #fffef1;
  color: #555;
}

body.warm .form button {
  color: $white;
  background-color: #8f8f8f;
}

body.warm footer p {
  color: #b8b8b1;
}

body.warm article a, body.warm carbon-paginator a {
  color: #555 !important;
  border-bottom: 1px solid rgba(85, 85, 85, 0.3);
}

body.warm #zoomer.open {
  background: rgba(240, 239, 228, 0.9);
}

body.light {
  color: #555;
  background-color: #f0f0f0;
}

body.light footer {
  background-color: #f0f0f0;
}

body.light .sidebar h6 {
  color: #b8b8b8;
}

body.light .sidebar header a * {
  color: #2d2d2d;
}

body.light nav hr {
  background-color: #d4d4d4;
}

body.light nav .siteLinks a:hover {
  color: #555;
}

body.light nav .siteLinks a {
  color: #8f8f8f;
}

body.light nav a:hover {
  color: #2d2d2d;
}

body.light nav a {
  color: #555;
}

body.light .projects .project .metadata, body.light .projects .project .metadata p {
  color: $white;
}

body.light .pieces.captionInside .audio carbon-caption p, body.light carbon-caption p, body.light carbon-caption ul, body.light carbon-caption ol {
  color: #8f8f8f;
}

body.light .details.top {
  border-bottom: 1px solid #e5e4d9;
}

body.light .details.bottom {
  border-top: 1px solid #e5e4d9;
}

body.light .details h1 {
  color: #8f8f8f;
}

body.light .details h5 {
  color: #b8b8b8;
}

body.light .details p, body.light .details ul, body.light .details ol {
  color: #555;
}

body.light .details tr:nth-child(2n +1) {
  background-color: $white_50;
}

body.light .about hr {
  background-color: rgba(212, 212, 212, 0.5);
}

body.light .about h2 {
  color: #2d2d2d;
}

body.light .about h5 {
  color: #b8b8b8;
}

body.light .about .meta p {
  color: #8f8f8f;
}

body.light .about p {
  color: #555;
}

body.light .about .links a {
  color: #8f8f8f;
}

body.light .about .block.info .resumeLink {
  background-color: #8f8f8f;
  color: $white;
}

body.light .about .block {
  border-bottom: solid 1px rgba(212, 212, 212, 0.5);
  color: #b8b8b1;
}

body.light .contact h1 {
  color: #555;
}

body.light .contact .availability h3 {
  color: #2d2d2d;
}

body.light .contact .availability p {
  color: #555;
}

body.light .contact .availability {
  background-color: $white_50;
}

body.light .contact .details h5 {
  color: #b8b8b1;
}

body.light .contact .details p {
  color: #2d2d2d;
}

body.light .form input, body.light .form textarea {
  border: solid 1px #d4d3c9;
  background-color: $white;
  color: #555;
}

body.light .form button {
  color: $white;
  background-color: #8f8f8f;
}

body.light footer p {
  color: #b8b8b8;
}

body.light article a, body.light carbon-paginator a {
  color: #555 !important;
  border-bottom: 1px solid rgba(85, 85, 85, 0.3);
}

body.light #zoomer.open {
  background: rgba(240, 240, 240, 0.9);
}

nav .current a {
  color: #f14440 !important;
}

nav .current a:hover {
  color: #f14440 !important;
}

main a:hover {
  color: #f14440;
}

main a {
  color: #f14440;
}

footer a {
  color: #f14440;
}

.about .links a:hover {
  color: #f14440;
}

.about .block.info .resumeLink:hover {
  background: #f14440;
}

.details ul li.url p {
  color: #f14440;
}

.projects .project .bg {
  background: #f14440;
}

.form button:hover {
  background: #f14440;
}

.link:hover {
  border-bottom: 1px solid #f14440;
}

h2:first-child {
  color: #f14440 !important;
}

h2 a, .accent a {
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(241, 68, 64, 0.2);
}

.accent {
  color: #f14440;
}

article a:hover, carbon-paginator a:hover {
  color: #f14440 !important;
  border-bottom: 1px solid rgba(241, 68, 64, 0.3);
}

.dark h2 a, .dark .accent a {
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(241, 68, 64, 0.4);
}

@media screen and (max-device-width:1000px) {
  html {
  }

}

@media only screen and (min-width: 1650px) {
  .projectSingle {
    min-width: 1330px;
  }

  .details.bottom {
    padding-top: 0;
    width: 320px;
    position: absolute;
    top: 40px;
    right: 40px;
    border-top: none !important;
  }

  .details.bottom .col {
    width: 100%;
    float: none;
  }

  .details table td .link {
    display: block;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

@media only screen and (max-width: 960px) {
  .details .col {
    width: 100% !important;
    float: none !important;
    padding-right: 0 !important;
  }

  .about .block.clients p {
    column-count: 1;
  }

  .about {
    padding: 0;
  }

  .about h5 {
    line-height: 24px;
    float: none;
    margin: 0;
    width: 100px;
    position: inherit;
    text-align: left;
  }

  .about .row {
    position: relative;
    padding-left: 0;
  }

  .details table td .link {
    display: block;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .links .linksWrap {
    top: 5px;
  }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .sidebar {
    position: relative;
    float: left;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .sidebar {
    position: inherit;
    float: left;
  }

}
